.pokemon-card {
    display: grid;
    justify-items: center;
    background: white;
    gap: 6px;
}

li {
    list-style-type: none;
    background: rgb(231, 231, 231);
    margin-bottom: 6px;
}

h3 {
    margin: 0px;
    margin-top: 6px;
}

